   table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        background-position: center left;
    }
.dataTables_wrapper {
    text-align: right !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0 18px !important;
    height: 34px;
    line-height: 34px;
}

/****************** Table Style *********/
/* bottom line */
table.dataTable.no-footer {
    border-bottom: 1px solid #333;
}

/* top line */
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #333;
}

/* odd rows background */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}
/* selected rows background
    table.dataTable tbody tr.selected {
            background-color: #ffc;
        }*/

/* even rows hover color */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f5f5f5;
}

/* even rows background */
table.dataTable tbody tr {
    background-color: #fff;
}
/*********************************/

.dataTables_wrapper {
    overflow: auto;
}

.dataTables_length, .dataTables_info, .paginate_button {
    background-color: #FCFCFC !important;
}


.btn-add, .btn-edit {
    width: 30%;
    max-width: 127px;
    outline: none;
    height: 32px;
    line-height: 22px;
    text-align: center;
    color: #357 !important;
    border: 1px solid #357;
    border-radius: 2px;
    background: rgba(250, 250, 250, 0.60) !important;
    font-weight: bold;
    transition: background .5s ease-in-out;
    margin: 1% 1%;
}

.dataTables_length, .dataTables_info, .paginate_button {
    margin: 1% 1% !important;
    background-color: #FdFdFd;
    text-align: center;
    font-weight: bolder;
}

    .dataTables_length > select {
        font-size: larger;
        font-weight: bold;
    }

.hiddenColumn {
    display: none;
}

.btn-delete {
    outline: none;
    height: 32px;
    line-height: 22px;
    text-align: center;
    color: #933 !important;
    border: 1px solid #933;
    border-radius: 2px;
    background: rgba(250, 250, 250, 0.60) !important;
    font-weight: bold;
    transition: background .5s ease-in-out;
    margin: 1% 1%;
    width: 30%;
    max-width: 100px;
}

.btn-add-active:hover {
    background: #357 !important;
    color: #fefefe !important;
}

.btn-delete-active:hover {
    background: #933 !important;
    color: #fefefe !important;
}

.dataTables_wrapper {
    text-align: center;
}

.center-div {
    width: 100%;
    margin: 0 auto;
}


.display {
    width: 99% !important;
    margin: 0 auto;
}

.left-float {
    float: right;
}

.right-float {
    float: left;
}

.dataTables_paginate {
    width: 50%;
}

a:hover {
    text-decoration: none !important;
}


.checkbox {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
    line-height: 18px;
}

    .checkbox:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        color: #357;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #357;
    }


    .checkbox.disabled:before {
        border: 0;
    }

    .checkbox.disabled {
        cursor: default;
    }


.mGrid input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}

.dataTables_wrapper.no-footer {
    padding: 0px 14px !important;
}
